parameters:
    level: 5
    paths:
        - app
    excludePaths:
        - vendor
        - storage
        - tests (?)
        - node_modules (?)
        - public
    ignoreErrors:
        - '#Call to an undefined method#'
        - '#Access to an undefined property#'
        - '#Relation.*is not found#'
        - '#Method.*should return.*but returns#'
        - '#Parameter.*expects.*given#'
        - '#Negated boolean expression is always false#'
        - '#Strict comparison.*will always evaluate to#'
        - '#Left side of.*is always false#'
        - '#Result of.*is always false#'
        - '#Expression on left side of.*is not nullable#'
        - '#Variable.*on left side of.*always exists#'
        - '#Call to function.*will always evaluate to true#'
        - '#Use of constant.*is deprecated#'
        - '#Regex pattern is invalid#'
        - '#Called.*outside of the config directory#'
        - '#Method.*is unused#'
        - '#Dead catch.*is never thrown#'
        - '#Method.*returns void but does not have any side effects#'
        - '#Method.*has.*in PHPDoc.*tag but it is not thrown#'
        - '#Undefined variable#'
        - '#Property.*does not accept#'
        - '#Call to method.*on an unknown class#'
        - '#Access to property.*on an unknown class#'
        - '#Call to static method.*on an unknown class#'
        - '#Parameter.*has invalid type#'
        - '#PHPDoc tag.*is not subtype of native type#'
        - '#Impossible type#'
        - '#Already narrowed type#'
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false