parameters:
    level: 10
    
    paths:
        - app
        - config
        - routes
    
    excludePaths:
        - bootstrap/cache/*
        - storage/*
        - vendor/*
        - node_modules/*
        - public/*
        - tests/*
        - database/migrations/*
        - stubs/*
    
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::#'
        - '#Call to an undefined method Illuminate\\Database\\Query\\Builder::#'
        - '#Call to an undefined method Illuminate\\Support\\Collection::#'
        - '#Call to an undefined method Illuminate\\Http\\Request::#'
        - '#Call to an undefined method Illuminate\\Support\\Facades\\#'
        - '#Undefined variable: \$[a-zA-Z_]+#'
        - '#Method [a-zA-Z\\]+::__[a-zA-Z]+\(\) invoked with#'
    
    checkModelProperties: true
    checkOctaneCompatibility: true
    checkUnusedViews: false
    reportUnmatchedIgnoredErrors: false
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkDynamicProperties: false
    
    universalObjectCratesClasses:
        - Illuminate\Database\Eloquent\Model
        - Illuminate\Database\Eloquent\Collection
        - Illuminate\Support\Collection
        - Illuminate\Http\Request
    
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2
